# truffle build
proxy/build/
proxy/types/

# artifacts
proxy/artifacts/
proxy/cache/

# openzeppelin
proxy/.openzeppelin/dev-*.json
proxy/.openzeppelin/.session

# idea
.DS_Store
.idea

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
proxy/coverageEnv
proxy/coverage/
proxy/coverage.json

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

wallet*.json
*_ktm_info.tar.gz

__pycache__/
**/*.bak

proxy/proxy.json
proxy/data/*.json
ima_data.json

test/working
test/config.json


.vscode

actions-runner/


venv