# artifacts
proxy/artifacts/
test-tokens/artifacts/
proxy/cache/
test-tokens/cache/
proxy/typechain
test-tokens/typechain

# openzeppelin
proxy/.openzeppelin/dev-*.json
proxy/.openzeppelin/unknown-*.json
proxy/.openzeppelin/.session

# predeployed generator artificats
proxy/predeployed/test/additional.json
proxy/predeployed/version.txt
proxy/data/proxySchain_Bob.json.saved_copy

# idea
.DS_Store
.idea

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
proxy/coverageEnv
proxy/coverage/
proxy/coverage.json

# tmp file after precompiled contracts generation
proxy/data/precompiled.json.file

proxy/predeployed/build
proxy/predeployed/dist
proxy/predeployed/src/ima_predeployed/artifacts
*.egg-info
proxy/predeployed/test/genesis.json

# nyc test coverage
.nyc_output

# Dependency directories
node_modules
agent/node_modules
proxy/node_modules
test/node_modules
test-tokens/node_modules
npms/skale-cc/node_modules
npms/skale-ima/node_modules
npms/skale-log/node_modules
npms/skale-observer/node_modules
npms/skale-owasp/node_modules
npms/skale-cool-socket/node_modules

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

wallet*.json
*_ktm_info.tar.gz

__pycache__/
**/*.bak

proxy/proxy.json
proxy/data/*.json
test-tokens/data/*.json
ima_data.json

test/working
test/config.json
test/accounts.json

.vscode

actions-runner/


bls_glue
hash_g1
verify_bls

venv
